---
layout: default
title: "Galactic Geographic"
---
<body>
  <!-- Header -->
  <header>
    <h1>Galactic Geographic</h1>
    <p>Stars Reach MMORPG - Exploring planets, science, nature and the wonders of The Garden</p>
  </header>

  <!-- Navigation Bar -->
  <nav>
    <a href="{{ '/' | relative_url }}">Galactic Geographic</a>
  </nav>

  <!-- Main Container -->
  <div class="container">
    <!-- Main Content Listing the Posts -->
    <div class="main-content">
      {% for post in site.posts %}
      <div class="article">
        <h2><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h2>
        {% if post.image %}
          <img src="{{ post.image }}" alt="{{ post.title }}">
        {% endif %}
        <p>{{ post.excerpt }}</p>
        <a href="{{ post.url | relative_url }}">Read more...</a>
      </div>
      {% endfor %}
    </div>

    <!-- Sidebar with Featured Video and Photo Gallery -->
    <aside class="sidebar">
      <h3><a href="https://wiki.gunc.org" target="_blank">GUNC Stars Reach Wiki</a></h3>
	<a href="https://wiki.gunc.org" target="_blank">
  <img src="/assets/guncwiki.png" alt="GUNC WIKI" />
</a>
      <h3>Featured Video</h3>
      <div class="video-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/6eqH3hfqrcc?si=XgnxARSGZ0hxh-FF" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>
      <div class="video-container">
         <iframe width="560" height="315" src="https://www.youtube.com/embed/FGGZRJXHTVQ?si=0GrsBzEMHHCamdyn" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>
	<div class="video-container">
<iframe width="560" height="315" src="https://www.youtube.com/embed/8AwYLiAY6Lc?si=9Eu6IYDrbPXaZPkY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>
      <h3><a href="https://hooby.blog" target="_blank">Hooby's Blog</a></h3><a href="https://hooby.blog" target="_blank"><img src="/assets/issue1/hoobyBlog.jpg" alt="hoobyBlog"></a>
      <h3>Photo Gallery</h3>
      <img src="-" alt="Galactic Photo 1" style="margin-bottom: 15px;">
      <img src="-" alt="Galactic Photo 2" style="margin-bottom: 15px;">
      <img src="-" alt="Galactic Photo 3" style="margin-bottom: 15px;">
    </aside>
  </div>
<!-- Pagination Controls -->
  <div class="pagination">
    {% if paginator.previous_page %}
      <a class="previous" href="{{ paginator.previous_page_path | relative_url }}">&laquo; Previous</a>
    {% else %}
      <span class="disabled">&laquo; Previous</span>
    {% endif %}

    {% for page in (1..paginator.total_pages) %}
      {% if page == paginator.page %}
        <span class="current">{{ page }}</span>
      {% else %}
        <a href="{{ paginator.paginate_path | relative_url | replace:'PAGE', page }}">{{ page }}</a>
      {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
      <a class="next" href="{{ paginator.next_page_path | relative_url }}">Next &raquo;</a>
    {% else %}
      <span class="disabled">Next &raquo;</span>
    {% endif %}
  </div>
</body>
